<nav class="navbar navbar-expand-sm sticky-top shadow ">
  <div class="container-lg container-fluid">
    <img class="navbar-brand ml-auto" src="assets/images/logo.png" alt="شركه راحه الاسره للأستقدام" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavId">
      <ul class="
            navbar-nav
            mr-auto
            mt-2
            d-flex
            flex-column flex-md-row-reverse
            mt-lg-0
          ">
        <li class="nav-item active">
          <a class="nav-link" href="#">الرئيسيه <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">عن الشركه</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">خدمات الشركه</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">الاخبار</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">الأسئله الشائعه</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>اتصل بنا</span>
            <img src="assets/images/user.png" class="user-icon" alt="شركه راحه الاسره للأستقدام" /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner"></div>
