ul {
  background-color: #49a53c;
  width: fit-content;
  text-align: center;
  border-end-end-radius: 8px;
  border-start-end-radius: 8px;
  list-style: none;
  margin-right: auto;
  position: fixed;
  z-index: 30;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ul li a {
  font-size: x-large;
  padding: 0 1ex;
  line-height: 50px;
  color: white;
}

ul li {
  transition: transform 0.2s;
}

ul li:hover {
  transform: translateX(-3px);
}

hr {
  margin: 1px;
}
